In [ ]:
import pandas as pd
df = pd.read_csv('/content/reserve.csv', sep=',', encoding='utf-8')

# Verifica las primeras filas para entender la estructura de los datos
print("Datos originales:")
#print(df.head())
print(df)

Datos originales:
     reserve_id hotel_id customer_id  reserve_datetime checkin_date  \
0            r1     h_75         c_1  06/03/2016 13:09   26/03/2016
1            r2    h_219         c_1  16/07/2016 23:39   20/07/2016
2            r3    h_179         c_1               NaN   19/10/2016
3            r4    h_214         c_1  08/03/2017 03:20   29/03/2017
4            r5     h_16         c_1  05/09/2017 19:50   22/09/2017
...         ...      ...         ...               ...          ...
4025      r4026    h_129       c_999  27/06/2017 23:00   10/07/2017
4026      r4027     h_97       c_999  29/09/2017 05:24   09/10/2017
4027      r4028     h_27       c_999  14/03/2018 05:01   02/04/2018
4028      r4029     h_48      c_1000  16/04/2016 15:20   10/05/2016
4029      r4030    h_117      c_1000  06/06/2016 08:16   06/07/2016

     checkin_time checkout_date  people_num total_price
0        10:00:00    29/03/2016           4       97200
1        11:30:00    21/07/2016           2       20600
2        09:00:00    22/10/2016           2       33600
3        11:00:00    30/03/2017          -6      194400
4        10:30:00    23/09/2017           3       68100
...           ...           ...         ...         ...
4025     09:30:00    11/07/2017           2       16000
4026     10:30:00    10/10/2017           2       41800
4027     11:30:00    04/04/2018           2       74800
4028     09:30:00    13/05/2016           4      540000
4029     09:00:00    09/07/2016           1       44100

[4030 rows x 9 columns]

In [ ]:
df.tail(30)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
4000,r4001,h_253,c_993,20/01/2017 18:50,10/02/2017,11:00:00,12/02/2017,1,10400
4001,r4002,h_263,c_993,20/02/2017 16:13,27/02/2017,10:30:00,28/02/2017,3,68700
4002,r4003,h_262,c_993,01/08/2017 23:47,03/08/2017,10:00:00,05/08/2017,3,114000
4003,r4004,h_201,c_993,31/08/2017 01:33,13/09/2017,09:30:00,15/09/2017,3,53400
4004,r4005,h_150,c_994,25/03/2016 11:51,02/04/2016,09:00:00,03/04/2016,1,25200
4005,r4006,h_290,c_995,14/05/2016 21:35,12/06/2016,10:00:00,15/06/2016,4,190800
4006,r4007,h_76,c_995,11/07/2016 06:45,31/07/2016,10:30:00,03/08/2016,4,110400
4007,r4008,h_52,c_995,02/11/2016 06:42,27/11/2016,12:00:00,28/11/2016,3,81300
4008,r4009,h_213,c_995,10/12/2016 19:23,24/12/2016,12:00:00,25/12/2016,4,20800
4009,r4010,h_84,c_995,04/02/2017 02:00,01/03/2017,10:00:00,04/03/2017,2,146400
4010,r4011,h_137,c_995,13/08/2017 19:23,07/09/2017,09:30:00,09/09/2017,1,12400
4011,r4012,h_54,c_995,08/03/2018 03:54,20/03/2018,10:30:00,22/03/2018,1,25600
4012,r4013,h_13,c_995,04/07/2018 18:54,04/07/2018,11:00:00,05/07/2018,2,9400
4013,r4014,h_27,c_996,29/05/2016 18:33,11/06/2016,12:00:00,14/06/2016,3,168300
4014,r4015,h_225,c_996,03/12/2016 21:40,22/12/2016,11:30:00,23/12/2016,3,21600
4015,r4016,h_239,c_996,29/12/2016 02:10,14/01/2017,10:30:00,16/01/2017,2,226000
4016,r4017,h_96,c_996,19/06/2017 11:26,05/07/2017,10:30:00,07/07/2017,2,29600
4017,r4018,h_204,c_996,20/08/2017 17:56,06/09/2017,12:30:00,07/09/2017,2,24200
4018,r4019,h_224,c_996,10/12/2017 19:39,20/12/2017,11:30:00,23/12/2017,3,36000
4019,r4020,h_243,c_996,22/04/2018 20:41,21/05/2018,12:00:00,22/05/2018,2,55400
4020,r4021,h_159,c_997,08/01/2016 20:30,09/01/2016,12:00:00,11/01/2016,2,258800
4021,r4022,h_172,c_997,13/05/2016 09:08,06/06/2016,09:30:00,08/06/2016,3,96000
4022,r4023,h_4,c_999,21/04/2016 21:50,22/04/2016,12:00:00,25/04/2016,4,62400
4023,r4024,h_244,c_999,06/10/2016 18:01,07/10/2016,11:30:00,09/10/2016,3,59400
4024,r4025,h_160,c_999,11/03/2017 11:56,27/03/2017,10:00:00,30/03/2017,1,37200
4025,r4026,h_129,c_999,27/06/2017 23:00,10/07/2017,09:30:00,11/07/2017,2,16000
4026,r4027,h_97,c_999,29/09/2017 05:24,09/10/2017,10:30:00,10/10/2017,2,41800
4027,r4028,h_27,c_999,14/03/2018 05:01,02/04/2018,11:30:00,04/04/2018,2,74800
4028,r4029,h_48,c_1000,16/04/2016 15:20,10/05/2016,09:30:00,13/05/2016,4,540000
4029,r4030,h_117,c_1000,06/06/2016 08:16,06/07/2016,09:00:00,09/07/2016,1,44100

In [ ]:
df.shape

(4030, 9)

In [ ]:
df.columns

Index(['reserve_id', 'hotel_id', 'customer_id', 'reserve_datetime',
       'checkin_date', 'checkin_time', 'checkout_date', 'people_num',
       'total_price'],
      dtype='object')

In [ ]:
# lista de columnas con valores faltantes y su cantidad
cols_with_missing = [col for col in df.columns if df[col].isnull().any()]
for i in cols_with_missing:
    print(i,df[i].isnull().sum())

reserve_datetime 7
total_price 6

In [ ]:
# Lista de columnas a procesar
columns_to_process = ['reserve_id', 'hotel_id', 'customer_id']

# Lista de columnas a procesar
columns_to_process = ['reserve_id', 'hotel_id', 'customer_id']

# Iterar sobre las columnas y aplicar la imputación o eliminación de filas según corresponda
for column_name in columns_to_process:
    # Antes del cambio
    print(f"Valores faltantes en '{column_name}' antes del cambio:")
    print(df[column_name].isnull().sum())

    # Imputar valores faltantes o eliminar filas según la columna
    if column_name in ['reserve_id', 'hotel_id', 'customer_id']:
        # Eliminar filas con valores faltantes en 'reserve_id', 'hotel_id' o 'customer_id'
        df.dropna(subset=[column_name], inplace=True)
    else:
        # Imputar valores faltantes con el valor más frecuente
        most_frequent_value = df[column_name].mode()[0]
        df[column_name].fillna(most_frequent_value, inplace=True)

    # Después del cambio
    print(f"\nValores faltantes en '{column_name}' después del cambio:")
    print(df[column_name].isnull().sum())

Valores faltantes en 'reserve_id' antes del cambio:
1

Valores faltantes en 'reserve_id' después del cambio:
0
Valores faltantes en 'hotel_id' antes del cambio:
2

Valores faltantes en 'hotel_id' después del cambio:
0
Valores faltantes en 'customer_id' antes del cambio:
1

Valores faltantes en 'customer_id' después del cambio:
0

In [ ]:
# Antes del cambio
print("Valores faltantes en 'checkin_date' antes del cambio:")
print(df['checkin_date'].isnull().sum())

Valores faltantes en 'checkin_date' antes del cambio:
4

In [ ]:

# Imputar valores faltantes con el valor más frecuente
most_frequent_value = df['checkin_date'].mode()[0]
df['checkin_date'].fillna(most_frequent_value, inplace=True)

# Después del cambio
print("\nValores faltantes en 'checkin_date' después del cambio:")
print(df['checkin_date'].isnull().sum())

Valores faltantes en 'checkin_date' después del cambio:
0

In [ ]:
# Antes del cambio
print("Valores faltantes en 'checkout_date' antes del cambio:")
print(df['checkout_date'].isnull().sum())

Valores faltantes en 'checkout_date' antes del cambio:
6

In [ ]:
# Imputar valores faltantes con el valor más frecuente
most_frequent_value = df['checkout_date'].mode()[0]
df['checkout_date'].fillna(most_frequent_value, inplace=True)

# Después del cambio
print("\nValores faltantes en 'checkout_date' después del cambio:")
print(df['checkout_date'].isnull().sum())

Valores faltantes en 'checkout_date' después del cambio:
0

In [ ]:
# Antes del cambio
print("Valores faltantes en 'reserve_datetime' antes del cambio:")
print(df['reserve_datetime'].isnull().sum())

In [ ]:
# Imputar valores faltantes con el valor más frecuente
most_frequent_value = df['reserve_datetime'].mode()[0]
df['reserve_datetime'].fillna(most_frequent_value, inplace=True)

# Después del cambio
print("\nValores faltantes en 'checkout_date' después del cambio:")
print(df['reserve_datetime'].isnull().sum())

Valores faltantes en 'checkout_date' después del cambio:
0

In [ ]:
df.describe()

        people_num
count  4026.000000
mean      2.515897
std       1.727202
min     -80.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       4.000000

In [ ]:
#obtener el número de datos faltantes por columna
missing_values_count = df.isnull().sum()

#Muestra los datos faltantes en las primeras 22 columnas
missing_values_count[0:22]

reserve_id          1
hotel_id            2
customer_id         1
reserve_datetime    4
checkin_date        0
checkin_time        0
checkout_date       0
people_num          0
total_price         4
dtype: int64

In [ ]:
# Antes del cambio
print("Valores faltantes en 'total_price' antes de la imputación:")
print(df['total_price'].isnull().sum())

Valores faltantes en 'total_price' antes de la imputación:
6

In [ ]:
# Imputar valores faltantes con un valor constante
constant_value = 0  # o cualquier otro valor que tenga sentido en tu contexto
df['total_price'].fillna(constant_value, inplace=True)

# Después del cambio
print("\nValores faltantes en 'total_price' después de la imputación con un valor constante:")
print(df['total_price'].isnull().sum())

Valores faltantes en 'total_price' después de la imputación con un valor constante:
0

# Nueva sección

In [ ]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt


# Convertir las columnas de fecha al tipo datetime y date
df['reserve_datetime'] = pd.to_datetime(df['reserve_datetime'], errors='coerce')
df['checkin_date'] = pd.to_datetime(df['checkin_date'], errors='coerce').dt.date
df['checkout_date'] = pd.to_datetime(df['checkout_date'], errors='coerce').dt.date

# Definir la fecha de referencia
today = datetime.date.today()

In [ ]:
# Identificar filas con fechas futuras
future_reserve_dates = df[df['reserve_datetime'] > pd.Timestamp(today)]
future_checkin_dates = df[df['checkin_date'] > today]
future_checkout_dates = df[df['checkout_date'] > today]

# Contar filas con fechas futuras
num_future_reserve_dates = future_reserve_dates.shape[0]
num_future_checkin_dates = future_checkin_dates.shape[0]
num_future_checkout_dates = future_checkout_dates.shape[0]

print(f"Número de filas con fechas futuras en 'reserve_datetime': {num_future_reserve_dates}")
print(f"Número de filas con fechas futuras en 'checkin_date': {num_future_checkin_dates}")
print(f"Número de filas con fechas futuras en 'checkout_date': {num_future_checkout_dates}")

Número de filas con fechas futuras en 'reserve_datetime': 1
Número de filas con fechas futuras en 'checkin_date': 0
Número de filas con fechas futuras en 'checkout_date': 4

In [ ]:
print("Filas con fechas futuras en 'reserve_datetime':")
print(future_reserve_dates)

print("\nFilas con fechas futuras en 'checkin_date':")
print(future_checkin_dates)

print("\nFilas con fechas futuras en 'checkout_date':")
print(future_checkout_dates)

Filas con fechas futuras en 'reserve_datetime':
    reserve_id hotel_id customer_id reserve_datetime checkin_date  \
207       r208    h_255        c_49       2024-10-05   2016-05-13

    checkin_time checkout_date  people_num total_price
207     12:30:00    2016-05-14           3      115500

Filas con fechas futuras en 'checkin_date':
Empty DataFrame
Columns: [reserve_id, hotel_id, customer_id, reserve_datetime, checkin_date, checkin_time, checkout_date, people_num, total_price]
Index: []

Filas con fechas futuras en 'checkout_date':
    reserve_id hotel_id customer_id    reserve_datetime checkin_date  \
20         r21    h_153         c_3 2017-06-04 18:12:00   2017-04-16
39         r40    h_102         c_7 2016-01-09 01:19:00   2016-09-17
196       r197     h_38        c_46                 NaT   2016-04-13
249       r250    h_109        c_58                 NaT   2017-02-27

    checkin_time checkout_date  people_num total_price
20      09:00:00    2029-04-19           3      126900
39      11:30:00    2030-09-18           3           0
196     09:00:00    2030-04-15           3      336000
249     12:00:00    2040-02-28           1       10500

In [ ]:
# Eliminar filas con fechas futuras
df_cleaned = df[~((df['reserve_datetime'] > pd.Timestamp(today)) |
                  (df['checkin_date'] > today) |
                  (df['checkout_date'] > today))]

In [ ]:
# Validar que no hay fechas futuras
print("Número de fechas futuras en 'reserve_datetime':", df_cleaned[df_cleaned['reserve_datetime'] > pd.Timestamp(today)].shape[0])
print("Número de fechas futuras en 'checkin_date':", df_cleaned[df_cleaned['checkin_date'] > today].shape[0])
print("Número de fechas futuras en 'checkout_date':", df_cleaned[df_cleaned['checkout_date'] > today].shape[0])

Número de fechas futuras en 'reserve_datetime': 0
Número de fechas futuras en 'checkin_date': 0
Número de fechas futuras en 'checkout_date': 0

In [ ]:
# Guardar los datos limpios
df_cleaned.to_csv('/content/reserve_cleaned.csv', index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')